<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoAF3T-zp8UkIRyjmOf5MCK0tSdpaRqjA</string>
	<key>GCM_SENDER_ID</key>
	<string>976232858282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timestampApp</string>
	<key>PROJECT_ID</key>
	<string>timestamp-3f055</string>
	<key>STORAGE_BUCKET</key>
	<string>timestamp-3f055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976232858282:ios:8ea6d18dc0c88ae29046d3</string>
</dict>
</plist>